<div>
  <span>Crema <%= item.cream_name %></span>
  <br />
  <% if item.property_values %>
    <% item.property_values.each do |property_value| %>
      <b><%= property_value.property.display_name %>:</b> <%= property_value.display_name %>
    <% end %>
  <% end %>
</div>