<div>
  <span>Crema <%= item.cream_name %></span>
  <% if item.property_values %>
    <% item.property_values.each do |property_value| %>
      <%= "#{property_value.property.display_name} : #{property_value.display_name}"%>          
    <% end %>
  <% end %>
</div>