.row
  .span6
    = image_tag '/assets/magnolia-girl.png', id: 'magnolia-girl'

  .span6.main-text-container
    %span.main-text
      THE PERFECT PRODUCT
      %br/
      FOR YOUR BODY
    
    %span.ribbon
      &nbsp;
    
    / = image_tag '/assets/instructions.png'
    %span.welcome Welcome to the Magnolia Cream Parlor experience
    %p.instructions
      When we say it is perfect for YOUR body we mean it. No one knows better what YOUR body needs than yourself. Magnolia Cream Parlor gives the opportunity to all women of all ages to find the perfect body cream for each and every one. We don't believe in prepacked beauty products because all women are different. All women are unique.
    
    = link_to '/products/Crema-Magnolia', id: 'lets-do-it' do
      = image_tag '/assets/lets-do-it.png'