@font-face {
    font-family: "Forque Font";
    src: url(/assets/fonts/Forque.ttf) format("truetype");
}

@font-face {
    font-family: "Lobster";
    src: url(/assets/fonts/Lobster.otf) format("truetype");
}

html {
  background: url('/assets/top-background.png') repeat-x top, url("/assets/bedge_grunge.png");
  
  &.products {
    background: url('/assets/top-background.png') repeat-x top, url("/assets/bkg.png");
    
    body {
      color: #852C43;
    }
  }
}

body {
  background-color: transparent;
  color: #E3E3D6;
}

html, body {height: 100%;}

#wrap {
  min-height: 100%;
}

header {height: 145px; margin: 3px 0 10px 0;}

footer {
  background: url('/assets/bottom-background.png') repeat-x bottom;
  height: 30px;
  padding: 15px 0 0 0;
  text-align: center;
  color: #636363;
  position: relative;
  margin-top: -40px;
  clear: both;
}

img#magnolia-girl {
  margin-left: -50px;
  position: absolute;
  bottom: 43px;
}

.main-text-container { float: right;}

img#logo { margin: 0 auto; display: block;}

a#lets-do-it {
  margin: 20px 105px 0 105px;
  display: inline-block;
}

span.main-text {
  font-family: Forque Font;
  font-size: 65px;
  text-align: center;
  color: #DFDFD0;
  line-height: 1;
  display: block;
  margin-top: 50px;
}

span.ribbon {
  background: url("/assets/ribbon.png") no-repeat center center;
  width: 451px;
  height: 52px;
  display: block;
  color: #EBCC8C;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  margin: 50px 0;
}

.side-lines {
  background-color:transparent;
  border-color:rgb(88,154,119);
  border-width: 4px 0;
  border-style: double;
  height: 50px;
  margin-top: 20px;
}

h1 {
  color: #333;
  font-family: 'OSP-DIN'; 
  font-weight: normal; 
  font-style: normal;
  font-size: 70px; 
  font-line: 1;
  text-align: center;
  margin: 50px 0;
}

.circle-button {
  border-radius: 80px;
  padding: 30px 10px;
  margin-top: 30px;
}

.float-right {float: right;}
.float-left {float: left;}

.hide-top {margin-top: -99999px;}

#submit-cream { 
  opacity: 0;
  filter:alpha(opacity=0);
  position: absolute;
  top: 400px;
  left: 50%;
}

#animacion {
  width: 376px;
  height: 399px;
  margin-top: -1999px;
  
  &.started {margin-top: 0px;}
  
  #fill {
    background: url("/assets/bottle/frasco-relleno.png") no-repeat 0px -385px;
    width: 337px;
    position: relative;
    z-index: -10;
    left: 23px;
    
    &.step0 {
      height: 0px;
      top: -49px;
      background-position: 0px -266px;
    }
    
    &.step1 {
      height: 67px;
      top: -116px;
      background-position: 0px -199px;
    }
    
    &.step2 {
      height: 134px;
      top: -183px;
      background-position: 0px -132px;
    }
    
    &.step3 {
      height: 201px;
      top: -250px;
      background-position: 0px -65px;
    }
    
    &.step4 {
      height: 266px;
      top: -315px;
      background-position: 0px 0px;
    }
  }
}

#properties_details {
  font-size: 12px;
}

.cart_item {
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  padding-bottom: 10px;
  
  .price {font-size: 20px;}
}

.shopping-cart-header {
  background-color: #E3E3D6;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 20px;
}

#payment-methods {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  
  a {
    text-align: center;
    display: inline-block;
  }
}

nav {
  float: right;
  margin: -70px 0 0 0;

  ul {
    list-style: none;
    
    li {
      float: left;
      margin-left: 10px;
      
      a {color: #852C43}
    }
  }
}

.controls.social-logins a{
  display: inline-block;
  margin: 0 auto 10px auto;
}

.control-label { 
  color: #E3E3D6;
}

.steps {
  background: url('/assets/pasos.png') no-repeat;
  height: 50px;
  margin-bottom: 25px;
  width: 943px;
  
  &.step0 { background-position: 0px 0px;}
  &.step1 { background-position: 0px -50px;}
  &.step2 { background-position: 0px -100px;}
  &.step3 { background-position: 0px -150px;}
  &.step4 { background-position: 0px -200px;}
}

.button-steps {
  background: url('/assets/boton-next-step.png') no-repeat;
  color: #EED297;
  font-family: "Lobster";
  font-size: 32px;
  width: 242px;
  text-align: center;
  padding: 28px 0;
  margin-bottom: 10px;
  
  &:hover {color: #EED297;}
  
  &.checkout-button {
    background: url('/assets/checkout-button.png') no-repeat;
    padding: 23px 0;
    width: 216px;
  }
}

#base, #funcion-primaria, #extra, #sabor {
  img {cursor: pointer;}
  
  img:hover {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}

.checked-icon {
  width: 54px;
  height: 54px;
  margin-bottom: -54px;
  position: relative;
}

#base {
  .link-property {
    display: inline-table;
    height: 219px;
    width: 219px;
  }

  .checked-icon {
    top: -210px;
    left: 160px;
  }
}

#funcion-primaria, #sabor {
  .link-property {
    display: inline-table;
    height: 167px;
    width: 167px;
  }

  .checked-icon {
    top: -160px;
    left: 110px;
  }
}

#extra {
  .link-property {
    display: inline-table;
    height: 136px;
    width: 218px;
  }

  .checked-icon {
    top: -150px;
    left: 180px;
  }
}

table {
  color: #636363;
  background-color: #fff;
  margin: 10px 0 20px 0;
  
  td {
    padding: 10px;
  }
}

ol {
  li {
    padding: 10px;
  }
}

.btn {
  margin: 0 5px 5px 0;
}

.text-right { text-align: right !important;}