<h1>Editar Dirección</h1>

<%= form_for(@shopping_address, :url => shopping_address_path(@shopping_address)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>


<%= link_to 'Regresar', shopping_addresses_path %>