.row
  .span12
    %h1 Password Instructions have been Sent

.row
  .span6  
    = image_tag '/assets/magnolia-girl.png', id: 'magnolia-girl'
  
  .span5.offset1
    %p Instructions to reset your password has been sent to your email address.
