.row
  .span6
  
    = image_tag '/assets/magnolia-girl.png', id: 'magnolia-girl'
  
  .span5.offset1
    %h1 Password Reset
    
    = form_for(@user, :url => customer_password_reset_path(:id => @user.perishable_token)) do |form|
      = render :partial => 'form', :locals => {:form => form}